
.about-section {
  position: relative;
  padding: 35px 10px;
  background: #ffffff;
  overflow: hidden; /* hides excess shape edges */
}
.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.about-text h1 {
  font-size: 2rem;
  margin-bottom: 0;
  color: #111;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
  margin-bottom: 25px;
}

.about-btn {
  display: inline-block;
  padding: 12px 20px;
  background: #c62828;
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.about-btn:hover {
  background: #e53935;
  transform: translateY(-2px);
}

.about-image img {
  width: 100%;
  border-radius: 6px;
  display: block;
}

.shape {
  position: absolute;
  border-radius: 50%;
  opacity: 0.15;
  z-index: 0;
}

/* Top-left circle */
.shape-1 {
  width: 280px;
  height: 280px;
  background: #ff0000;
  top: -100px;
  left: -100px;
}

/* Bottom-right circle */
.shape-2 {
  width: 220px;
  height: 220px;
  background: #ff0000;
  bottom: -80px;
  right: -80px;
}
.shape-3 {
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, #c62828, transparent);
  transform: rotate(45deg);
}

.about-section {
  background-image: radial-gradient(#e76e6e 1px, transparent 1px);
  background-size: 80px 80px;
}



@media (max-width: 399px) {
    .about-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 15px;
  }
  .about-text h1 {
    font-size: 1.2rem;
  }
  .about-text p {
    font-size: 1rem;
  }
  .about-btn {
    margin-top: 0;
  }
  .shape-1 {
    width: 180px;
    height: 180px;
    top: -70px;
    left: -70px;
  }
  .shape-2 {
    width: 140px;
    height: 140px;
    bottom: -60px;
    right: -60px;
  }
}
@media (max-width: 480px) {
    .about-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }
  .about-text h1 {
    font-size: 1.3rem;
  }
  .about-text p {
    font-size: 1rem;
  }
  .about-btn {
    margin-top: 0;
  }
  .shape-1 {
    width: 180px;
    height: 180px;
    top: -70px;
    left: -70px;
  }
  .shape-2 {
    width: 140px;
    height: 140px;
    bottom: -60px;
    right: -60px;
  }
}
@media (max-width: 768px) {
    .about-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }
  .about-text h1 {
    font-size: 1.5rem;
  }
  .about-text p {
    font-size: 1rem;
  }
  .about-btn {
    margin-top: 0;
  }
  .shape-1 {
    width: 180px;
    height: 180px;
    top: -70px;
    left: -70px;
  }
  .shape-2 {
    width: 140px;
    height: 140px;
    bottom: -60px;
    right: -60px;
  }
}



