body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}
.background {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(245, 38, 38);
    font-size: 2rem;
    text-shadow: 1px 1px 4px black;
}

.container {
    width: 95%;
    max-width: 450px;
    margin: auto;
    padding: 20px;
    background: rgba(240, 240, 240, 0.95);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.canvas-wrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
}

canvas {
    width: 100%;
    height: auto;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 12px 20px;
    background: #e53935;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

