.media-wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.media-wrapper img,
.media-wrapper video {
  width: 100%;
  height: auto;
  display: none;
  object-fit: cover; /* makes it scalable & responsive */
}

#intro-image {
  display: block; /* show image first */
}
